{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!---->
<!--banner-->
	<div class="banner-1">
							
	</div>
<!--/banner-->
	<!---->
	<div class="content-about w3l-1">
			<div class="container">
				<div class="col-md-12 wel">
					<h2 class="tit">公司简介</h2>
					<p>&nbsp;&nbsp;杭州安美久钢铝建筑材料有限公司是一家专业生产金属屋面、楼面、墙面围护系统的研发、设计、制作、现场安装、售后服务及项目咨询和管理于一体的专业化公司。 </p>
                    <p>&nbsp;&nbsp;随着国民经济的发展、各种多高层大跨度的金属屋面、楼面结构在众多大型建筑中被广泛采用。AMJ公司凭借自身的实力和专业技术优势,致力于在中国推广欧洲标准的直立锁边系统、双锁边系统、太阳能系统、钢楼承板系统。每种系统基材均有铝镁锰板、钛锌板、不锈钢板、太古铜板、镀锌板等多种高档金属屋面材料。</p>
                    <p>&nbsp;&nbsp;AMJ公司将秉承:以人为本、科技为先的经营理念,以客户为中心、以质量求生存的宗旨.为每一位客户提供高质量的产品和服务。真诚的希望与您携手合作，同创辉煌！</p>
                    <p>&nbsp;&nbsp;新的一天即将开始，回首过去的路，我们深知创业的艰辛，我们会把握时代的脉搏，紧追世界的潮流，致力于创造精良卓越的产品，提供完善细致的服务，展望未来，“AMJ”永远踏好每一步，超越今日之平凡，开拓东方之辉煌!</p>

                    <br>
                    <p>&nbsp;&nbsp;Hangzhou AMJ Steel, Aluminum Architectural Material Co., Ltd. is a professional company specializes in producing metal roofing and floor, R&D, design, produce, installation and after-sales service of wall surface maintenance system as well as consultation and management of projects. </p>
                    <p>&nbsp;&nbsp; As the development of the domestic economic, varies high-rise, large-span medal roofing and floor construction are widely in many huge buildings. Depending on our capacity and professional technology, AMJ dedicates to widely promoting erect overlocked roofing system, double-overlocked system, solar system, and steel carrier plate system in China. Each system contain multiple top quality metal roofing materials including aluminum-magnesium- manganese plate, titanium-zinc plate, stainless steel plate, immemorial plate and galvanized plate.</p>
                    <p>&nbsp;&nbsp;AMJ will endeavor our principles - "People first, Science and technology first, Customer centered, Quality supreme", to provide every customer with high quality products and services.We sincerely hope to create brilliancy with you hand-in-hand！</p>
                    <p>&nbsp;&nbsp;A new day is about to begin，To look to the past，We are well aware of the difficulties of starting an enterprise，We would take the pulse of the time，Follow the steps of the times development，Committed to creating supreme products，Provide complete and careful service，To look into the future，AMJ would take every step cautiously，To go beyond today's commonness，To develop the orient splendid future</p>

                </div>
			<div class="clearfix"> </div>
			</div>
		</div>
	<!---->
	<div class="test w3ls-1">
			<div class="container">
				<div class="test-top-g">
					<h3>厂房介绍</h3>
				
				 </div>
				<div class="test-top">
					<div class="col-md-4 test-top1 test-to " >
						<div class=" test-top2">
							<img src="{% static 'images/about/about1.jpg' %}" class="img-responsive" alt="/">
							<div class="clearfix"> </div>
						</div>
						<div class="test-top3">
						<img src="images/th.jpg" class="img-responsive" alt="">
							<h6> The standard chunk  </h6>
							<div class="clearfix"> </div>
						</div>
					</div>
                    					<div class="col-md-4 test-top1 test-to " >
						<div class=" test-top2">
							<img src="{% static 'images/about/about2.jpg' %}" class="img-responsive" alt="/">
							<div class="clearfix"> </div>
						</div>
						<div class="test-top3">
						<img src="images/th.jpg" class="img-responsive" alt="">
							<h6> The standard chunk  </h6>
							<div class="clearfix"> </div>
						</div>
					</div>
                    					<div class="col-md-4 test-top1 test-to " >
						<div class=" test-top2">
							<img src="{% static 'images/about/about3.jpg' %}" class="img-responsive" alt="/">
							<div class="clearfix"> </div>
						</div>
						<div class="test-top3">
						<img src="images/th.jpg" class="img-responsive" alt="">
							<h6> The standard chunk  </h6>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!---->
<!--content-->
 <div class="team wthree-1">
 <div class="container">
 <div class="ser-top">
	<h3>我们的团队</h3>
	<div class="ser-t">
		<b></b>
		<span><i></i></span>
		<b class="line"></b>
	</div>
 </div>
  <div class="team-top agileinfo-4">
    <div class="team-top1">
        <div class="swipebox"  > 
			<img src="{% static 'images/te.png' %}" alt="" class="img-responsive">
				<div class="zoom-icon"> 
					<div class="zoom-icon1"> 
						<h5>张小松</h5>
						 <h5>电话：</h5>
                        <h5>1222222222</h5>
					</div>
				</div>
		</div>
    </div>
  </div>
  <div class="team-top agileinfo-4">
    <div class="team-top1">
     <div class="swipebox"  > 
			<img src="{% static 'images/te1.png' %}" alt="" class="img-responsive">
				<div class="zoom-icon"> 
					<div class="zoom-icon1"> 
						<h5>刘婧</h5>
						 <h5>qwe</h5>
					</div>
				</div>
		</div>
	 
    </div>
  </div>
  <div class="team-top agileinfo-4">
    <div class="team-top1">
      <div class="swipebox"  > 
			<img src="{% static 'images/te2.png' %}" alt="" class="img-responsive">
				<div class="zoom-icon"> 
					<div class="zoom-icon1"> 
						<h5>刘国龙</h5>
						 <h5>qwe</h5>
					</div>
				</div>
		</div>
    </div>
  </div>
  <div class="team-top agileinfo-4">
    <div class="team-top1">
      <div class="swipebox"  > 
			<img src="{% static 'images/te3.png' %}" alt="" class="img-responsive">
				<div class="zoom-icon"> 
					<div class="zoom-icon1"> 
						<h5>胡嘉猛</h5>
                        <h5>qwe</h5>
					</div>
				</div>
		</div>
    </div>
  </div>
  
</div>
</div>
{% endblock %}