{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!---->
<!--banner-->
	<div class="banner-1">
							
	</div>
<!--/banner-->
<!-- gallery -->
<div class="gallery wthree-4">
	<div class="container">
			<h2 class="tit">工程案例</h2>
			<div class="ser-t">
				<b></b>
				<span><i></i></span>
				<b class="line"></b>
			</div>
		<div class="gal-btm agileinfo-3">
            <div class="col-md-12">
           <div class="col-md-6 gal-gd-sec">
				<a href="#image-1" >
					<figure>
						<img src="{% static 'images/project/project11.png' %}" class="img-responsive" alt="">
						<figcaption >
							<h3>沈阳宝能金融中心</h3>
							<p>
								（楼承板系统，面积220000㎡）
							</p>

						</figcaption>
					</figure>
				</a>
			</div>
			<div class="col-md-6 gal-gd-sec">
				<a href="#image-2" >
					<figure>
						<img src="{% static 'images/project/project21.jpg' %}" class="img-responsive" alt="">
						<figcaption >
							<h3>上海近铁城市广场</h3>
							<p>
								（楼承板系统，面积86000 ㎡）
							</p>

						</figcaption>
					</figure>
				</a>
			</div>
            </div>
            <div class="col-md-12">
			<div class="col-md-6 gal-gd ">
				<a href="#image-3" >
					<figure>
						<img src="{% static 'images/project/project15.png' %}" class="img-responsive" alt="">
						<figcaption >
							<h3>东风中路S8项目</h3>
							<p>
								（楼承板系统，面积70000 ㎡）
							</p>
							
						</figcaption>
					</figure>
				</a>
				

			</div>
			<div class="col-md-6 gal-gd ">
				<a href="#image-4" >
				<figure>
						<img src="{% static 'images/project/project13.png' %}" class="img-responsive" alt="">
						<figcaption class="gal-text">
							<h3>深圳法制大厦</h3>
							<p>
								（楼承板系统，面积80000㎡）
							</p>
							
						</figcaption>
					</figure>
				</a>
				

			</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 gal-gd ">
                    <a href="#image-5" >
                        <figure>
                            <img src="{% static 'images/project/project14.png' %}" class="img-responsive" alt="">
                            <figcaption class="gal-text">
                                <h3>南宁华润大厦</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                </p>

                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6 gal-gd ">
                    <a href="#image-5" >
                        <figure>
                            <img src="{% static 'images/project/project16.jpg' %}" class="img-responsive" alt="">
                            <figcaption class="gal-text">
                                <h3>南宁保税区厂房</h3>
                                <p>
                                    （楼承板系统，面积46000 ㎡）
                                </p>

                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 gal-gd ">
                    <a href="#image-5" >
                        <figure>
                            <img src="{% static 'images/project/project17.jpg' %}" class="img-responsive" alt="">
                            <figcaption class="gal-text">
                                <h3>江苏大剧院</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                </p>

                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6 gal-gd ">
                    <a href="#image-5" >
                        <figure>
                            <img src="{% static 'images/project/project18.jpg' %}" class="img-responsive" alt="">
                            <figcaption class="gal-text">
                                <h3>海航大厦</h3>
                                <p>
                                    （楼承板系统，面积86000 ㎡） 
                                </p>

                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 gal-gd ">
                    <a href="#image-5" >
                        <figure>
                            <img src="{% static 'images/project/project19.png' %}" class="img-responsive" alt="">
                            <figcaption class="gal-text">
                                <h3>温州文化艺术中心大厦</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                </p>

                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6 gal-gd ">
                    <a href="#image-5" >
                        <figure>
                            <img src="{% static 'images/project/project20.png' %}" class="img-responsive" alt="">
                            <figcaption class="gal-text">
                                <h3>珠海横琴国际中心</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                </p>

                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>

		
			<div class="clearfix"></div>
         <div class="col-md-12">
             <div class="page-header">
            <h3>14~17年已竣工部分项目名称及面积</h3>
            </div>
            <div class="bs-example " data-example-id="contextual-table" style="border: 1px solid #eee">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>项目</th>
                  <th>面积</th>
                </tr>
              </thead>
              <tbody>
              {% for data in table_one %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ data.project }}</td>
                  <td>{{ data.area }}</td>

                </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
            </div>
        <br>
        <div class="col-md-12">
             <div class="page-header">
            <h3>13~15年已竣工部分项目名称及面积</h3>
            </div>
            <div class="bs-example " data-example-id="contextual-table" style="border: 1px solid #eee">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>项目</th>
                  <th>面积</th>
                </tr>
              </thead>
              <tbody>
              {% for data in table_two %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ data.project }}</td>
                  <td>{{ data.area }}</td>

                </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
            </div>
		</div>
	</div>
</div>
    

    
    {% endblock %}